
body {
  background: rgb(107, 15, 182);
}

input {
  border: 1px solid white;
  background: transparent;
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  padding: 0.5% 2%;
}

#role {
  background: black;
  color: #fff;
  padding: 0.5%;
  margin: 1% auto;
}

button {
  border: 1px solid white;
  border-radius: 5px;
  background: #000;
  padding: 0.5% 1%;
  color: #fff;
}